extends ../layouts/common

block content

	h1 Product Details
	.card.mb-3(style='max-width: 340px;')
	.row.no-gutters
		each item in product.images
			.col-md-6
				img.card-img(src=item.url, alt='...')
		.col-md-6
			.card-body
				h5.card-title=product.name
				span Price
				p.card-text=product.price
					
				p.card-text
					small.text-muted=product.dateCreate